.content{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
 
    
}

h1{
    /* text-align: center; */
    color: green;
}
p{
    color: #ff0000;
}
.lap{
    
    color: blue;
    background: #cccccc;
    width: 500px;
}