li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
li{
    padding: 20px;
    width: 150px;
    background-color: blue;
    border-bottom: 0.5px solid rgb(100, 98, 98);
}
li:hover{
    background-color: red;
}
ul{
    border: 0.2 solid rgb(100, 98, 98);
}