ul{
    display: flex;
   
}
li{
    list-style: none;
    background-color: blue;
    padding: 20px;
    border: 1px solid black;

}
a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
ul li:hover{
    background-color: red;
}
.menu1{
    position: relative;
}
.nav{
    display: none;
}
.menu1:hover .nav {
    display: flex;
    position: absolute;
    top: 100%;
   left: -195%;
}
.nav li{
    width: 200px;
}
